.container {
  width: 1200px;
  display: inline-block;
  margin: 0 auto;

  // .slider & {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  // }

}