img {
  display: block;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: $gray;
  margin: 0;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

